:root {
  --white: #fff;
  --purple500: #8319C8;
  --purple700: #4F0F78;
  --purple900: #160422;
  --purpleDarkest: #0D0314;
  --gradPinkToPurple: linear-gradient(180deg, #FCEAE8 0%, #D5BDF2 53.65%, #AC8DFD 95.43%);
  --grayLight: #CCCACD;
  --grayMid: #838084;
  --grayDark: #48444A;
}

body {
  background-color: var(--purple900);
  color: #fff;
  font-family:'Inter';
}

h1 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
  line-height: 1.3;
  font-weight: 900;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
  text-align: center;
}

p {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
  text-align: left;
}

.title-grad {
  background: var(--gradPinkToPurple);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.button {
  background-color: var(--purple500);
  color: var(--white);
  height: auto;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 16%;
  padding: 24px 48px;
}

.button:hover {
 background-color: var(--purple700);
 color: var(--white);
 border-radius: 8px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 cursor: pointer;
 width: 16%;
 padding: 24px 48px;
}

#button {
  background-color: var(--purple500);
  color: var(--white);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 24px 48px;
  align-items: center;
  width: 20%;
}

#button:hover {
  background-color: var(--purple700);
  color: var(--white);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 24px 48px;
  align-items: center;
  width: 20%;
}

.header {
  width: 100%;
  height: 60px ;
  position: absolute;
  top: 0;
  left: 0;
}

.logo-container {
  width: auto;
  height: 100%;
  display: inline-block;
}

.logo-container img {
  width: 128px;
  height: 40px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 40px;
}

.main-wrapper {
  width: auto;
  height: auto;
  margin-top: 80px;
}

.hero-container {
  height: 100vh;
  width: 100%;
  min-height: 500px;
  background-image: url(../imgs/hero_gradient.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.hero-container::before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../imgs/visuals-left.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  width: 36%;
  height: 100%;
  z-index: 10;
}

.hero-container::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../imgs/visuals-right.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  width: 40%;
  height: 100%;
  z-index: 10;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 64px;
}

.text-container {
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.product-container {
  height: auto;
  width: 100%;
  padding-top: 136px
}

.description-container {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: auto;
  padding-top: 40px;
  align-items: center;
}

.visual {
  width: 68%;
  height: auto;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.visual img {
  width: 100%;
  height: auto;
}

.visual-right {
  width: 68%;
  height: auto;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.visual-right img {
  width: 100%;
  height: auto;
}

.product-desc-box {
  display: flex;
  flex-flow: column;
  width: 50%;
  height: auto;
  line-height: 1.3;
  padding-right: 60px;
  padding-left: 60px;
}

.product-desc-box p {
  padding-top: 20px;
}

.about-container {
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 96px;
  padding-bottom: 136px;
}

.about-text-box {
  width: 100%;
  height: auto;
  padding-top: 40px;
  gap: 20px;
}

.about-text-box p {
  padding-top: 20px;
}

.contact-container {
  height: 100%;
  width: 100%;
  min-height: 500px;
  padding-top: 40px;
  background-image: url(../imgs/contact.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.form-container {
  width: 100%;
  height: auto;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 32%;
  gap: 24px;
}

input[type="text"] {
  color: #838084;
  padding: 12px 16px;
  border-radius: 8px;
  width: 90%;
}
input[type="email"] {
  color: #838084;
  padding: 12px 16px;
  border-radius: 8px;
  width: 90%;
}

.footer {
  width: 100%;
  height: 60px ;
  left: 0;
}

.footer-container {
  width: auto;
  height: 100%;
  display: inline-block;
}

.footer-container img {
  width: 128px;
  height: 40px;
  display: inline-block;
  padding-bottom: 20px;
  padding-left: 40px;
  position: sticky;
}
