:root {
  --white: #fff;
  --purple500: #8319C8;
  --purple700: #4F0F78;
  --purple900: #160422;
  --purpleDarkest: #0D0314;
  --gradPinkToPurple: linear-gradient(180deg, #FCEAE8 0%, #D5BDF2 53.65%, #AC8DFD 95.43%);
  --grayLight: #CCCACD;
  --grayMid: #838084;
  --grayDark: #48444A;
}

body {
  background-color: var(--purple900);
  color: #fff;
  font-family:'Inter';
}

h1 {
  font-size: 5rem;
  line-height: 1.3;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 2.6rem;
  line-height: 1.3;
  font-weight: 900;
  text-align: center;
}

h3 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 900;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
  text-align: center;
}

p {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
}

.title-grad {
  background: var(--gradPinkToPurple);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.button {
  background-color: var(--purple500);
  color: var(--white);
  height: auto;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24%;
  padding: 24px, 48px;
}

.button:hover {
 background-color: var(--purple700);
 color: var(--white);
 padding: 24px, 48px, 24px, 48px;
 border-radius: 8px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 cursor: pointer;
}

button {
  background-color: var(--purple500);
  color: var(--white);
  padding: 24px, 48px, 24px, 48px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  background-color: var(--purple700);
  color: var(--white);
  padding: 24px, 48px, 24px, 48px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 80px ;
  position: absolute;
  top: 0;
  left: 0;
}

.logo-container {
  width: auto;
  height: 100%;
  display: inline-block;
}

.logo-container img {
  width: 128px;
  height: 40px;
  display: inline-block;
  padding-top: 20px;
  padding-left: 40px;
}

.main-wrapper {
  width: auto;
  height: auto;
}

.hero-container {
  margin-top: 80px;
  height: 100vh;
  width: 100%;
  min-height: 500px;
  background-image: url(../imgs/hero-gradient.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.hero-container::before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../imgs/visuals-left.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  width: 50%;
  height: 100%;
  z-index: 10;
}

.hero-container::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../imgs/visuals-right.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  width: 50%;
  height: 100%;
  z-index: 10;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 64px;
}

.text-container {
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.product-container {
  height: 100vh;
  width: 100%;
  padding-top: 96px
}

.description-container {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: auto;
  padding-top: 96px;
  gap: 40px;
}

.visual {
  width: 50%;
  height: auto;
}

.visual img {
  width: 100%;
  height: auto;
}

.product-text-box {
  width: 50%;
  height: auto;
  line-height: 1.3;
  align-items: center;
  gap: 40px;
  padding-right: 40px;
}

.about-container {
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.about-text-box {
  width: 100%;
  height: auto;
  padding-top: 96px;
  gap: 40px;
}

.contact-container {
  height: 100vh;
  width: 100%;
  min-height: 500px;
  padding-top: 96px;
  background-image: url(../imgs/contact.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.form-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section input {
  width: 85%;
  height: 25px;
  margin-left: 5px;
}

.second-section input{
  width: 80%;
  height: 25px;
  margin-left: 5px;
}

.form h1, p {
  text-align: center;
}